<p>Create post!</p>
<div>
    <a type="button" [routerLink]="['../../']"></a>
</div>
<div>
    <button type="button" (click) = "addValue()">Add</button>
    <button type="button" (click) = "reset()">Discard</button>
</div>
<div>
    <form action="">
        <label for="userId">User ID</label><br>
        <input type="number" placeholder="Enter User ID">
    </form>
    <form action="">
        <label for="title">Title</label><br>
        <input type="string" placeholder="Enter Title">
    </form>
    <form action="">
        <label for="body">Body</label><br>
        <input type="string" placeholder="Enter Body">
    </form>
</div>