<p class="text-left"><b>List of Posts</b></p>
<p> Total rows: {{ totalRows }} </p> <br>
<a routerLink="form">ADD</a>

<table *ngIf= "posts" class="table">
    <tr *ngFor = "let post of posts">
        <td>
            {{post.userId}}
            {{post.id}}
            {{post.title}}
        </td>
        <td>
            <button id="btn2"(click)="delete(post.id)">Delete</button>
            <button id="btn"><a [routerLink]="[post.id]">View</a></button>
            <button (click)="edit()">Edit</button>
        </td>
    </tr>
</table>
